# Ignore Docker-related files that are for development/local setup only
.env
.env.*
/.env
/.env.*
/docker-compose.yml
/Dockerfile

# Ignore all files in the /public/assets folder
/public/assets

# Ignore all files in the /public/packs folder
/public/packs

# Ignore all files in the /public/vite folder
/public/vite

# Ignore all files in the /tmp folder
/tmp

# Ignore all files in the /log folder
/log

# Ignore all files in the /vendor folder
/vendor

# Ignore database files
*.sqlite3
*.sqlite3-journal

# Ignore editor/IDE files
.idea/
.vscode/

# Ignore bundled gems
/vendor/bundle

# Ignore master key, which should be kept secret
/config/credentials/production.key
/config/master.key

# Core dump files
core
