<%# app/views/comments/_comment.html.erb (or similar) %>

<div>
  <strong>
    <% if comment.user.present? %>
      <%= comment.user.email %>:
    <% else %>
      Deleted User: <%# Or "Anonymous:", "Guest:", etc. %>
    <% end %>
  </strong>
  <%= comment.content %>
</div>
