<<<<<<< HEAD
<h1>Welcome to my Rails App!</h1>
<p>This is the home page.</p>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
=======
<h1>Welcome to my Rails App!</h1><p>This is the home page.</p>
>>>>>>> 2d32fe77661cbb6d5c2f23a40816540019075e13
