<div class="max-w-xl mx-auto py-8">
  <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center">Editing Post</h1>
  <%= render "form", post: @post %>
  <div class="flex justify-center space-x-4 mt-6">
    <%= link_to "Show this post", @post, class: "text-blue-600 hover:underline font-medium" %>
    <%= link_to "Back to posts", posts_path, class: "text-gray-600 hover:underline font-medium" %>
  </div>
</div>
